* {     
  font-family: Source Code Pro;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: #444444;
  color: #bbbbbb;
}

#custom-right-arrow-dark, #custom-left-arrow-dark {
  color: #222222;
}
#custom-right-arrow-light, #custom-left-arrow-light {
  color: #444444;
  background: #222222;
}

#workspaces, #clock.1, #clock.2, #clock.3, #pulseaudio, #backlight, #battery, #memory, #cpu, #temperature {
  background: #222222;
}

#workspaces button {
  padding: 0 2px;
  color: #666666;
}
#workspaces button.focused {
  color: #bbbbbb;
  font-weight: bold;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #222222;
  border: #222222;
  padding: 0 3px;
}

#clock, #pulseaudio, #backlight, #battery, #memory, #cpu, #temperature {
  padding: 0 10px;
}
